body{
margin-left:5%;
margin-right: 5%;
font-size: large;
font-family: 'Courier New', Courier, monospace;
background-color: #B9D9EB}

img { 

    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    display: flex;

}



.contact {
    width: 70%;
    flex-direction: row-reverse;
    display: flex;
    flex-direction: column ;
    justify-content: end;

}

.summary {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

}

.summary-section {
    background-color: #4B9CD3;
    border: 5px solid black;
}

.skill{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

}

.skills-section{
    background-color: #4B9CD3;
    border: 5px solid black;
}
.accounts-section {
    display: flex;
    background-color: #4B9CD3;
    border: 5px solid black;
}

.education-section {
    display: flex;
    background-color: #4B9CD3;
    border: 5px solid black;
}
.flex-container {
    display: flex;
    background-color: #4B9CD3;
    justify-content: space-evenly;
  }
  
  .flex-container > div {
    background-color: #4B9CD3;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

/*w3schools*/

  @media (max-width:1200px) {
    h1 {
        transform: translateY(2em);
        font-size: 3em;
    }

    .bio {
        font-size: 0.8em;
    }

    .address {
        font-size: 1.5em;
    }

    section {
        font-size: 0.8em;
    }
}

@media (max-width:700px) {
    h1 {
        transform: translateY(1.8em);
        font-size: 2em;
    }

    .bio {
        font-size: 0.6em;
    }

    .address {
        font-size: 1.2em;
    }

    section {
        font-size: 0.6em;
    }
}