body { background-color: rgb(247, 236, 217); }

#section1 { 
    background-color: lightblue ;
}

img {
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
  }

h2 {
    text-decoration: underline;
    text-decoration-color: lightblue;
}

table {
    border-collapse: collapse;
    border-color: lightblue;
  }

p ,ul ,table{ font-size: 20px;}

a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(247, 236, 217);;
}

/* selected link */
a:active {
  color: blue;
}